.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

ul.experiencia-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}



@media (max-width: 600px) {
    .experiencia {
        padding: 10px;
    }

    ul.experiencia-list {
        max-width: 100%;
    }
}

